<ul class="gn-menu agile_menu_drop">
    <li><a href=@Url.Action("Index","Home")> <i class="fa fa-tachometer"></i> Trang chủ</a></li>   

    @if (Session["MenuMaster"] != null)
            {
                var MenuMaster = (List<qlkdst.Models.MenuModels>)Session["MenuMaster"];

                var groupByMenu = MenuMaster.GroupBy(x => new { x.areaname, x.areacss }).ToList();

                foreach (var MenuList in groupByMenu)
                {
                    <li> 
                        <a href="#"> <i class="@MenuList.Key.areacss" aria-hidden="true"></i>@MenuList.Key.areaname <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                
                        <ul class="gn-submenu">
                            @foreach (var SubMenuList in MenuList)
                            {
                                if (SubMenuList.areamvc != null)
                                {
                                    <li class="mini_list_agile">
                                        <a href="@Url.Action(SubMenuList.actionnm,SubMenuList.controllernm,new { area = SubMenuList.areamvc })"><i class="@SubMenuList.classcss" aria-hidden="true">
                                            </i> @SubMenuList.menunm
                                        </a>
                                    </li>                         
                                }
                                else
                                {
                                    <li class="mini_list_agile"><a href="@Url.Action(SubMenuList.actionnm,SubMenuList.controllernm,null)"><i class="@SubMenuList.classcss" aria-hidden="true"></i> @SubMenuList.menunm</a></li>
                                }


                            }
                        </ul>
                    </li>
             }
    }

    @*<li>
        <a href="#"> <i class="fa fa-file-text-o" aria-hidden="true"></i>Khu quản lý <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="gn-submenu">
            <li class="mini_list_agile"><a href="input.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Danh mục người dùng</a></li>
            <li class="mini_list_agile"><a href="~/MainMenu/Index"><i class="fa fa-caret-right" aria-hidden="true"></i> Danh mục khu</a></li>
            <li class="mini_list_w3"><a href="~/SubMenu/Index"><i class="fa fa-caret-right" aria-hidden="true"></i> Danh mục menu</a></li>
        </ul>
    </li>*@
    <li>
        <a href="#"> <i class="fa fa-user" aria-hidden="true"></i>Người dùng<i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="gn-submenu">
            <li class="mini_list_agile">
                <a href="~/Login/Logout"><i class="fa fa-caret-right" aria-hidden="true"></i> Đăng xuất</a>                
            </li>        
            @*<li class="mini_list_agile"><a href="~/User/Profile"><i class="fa fa-caret-right" aria-hidden="true"></i> Xem thông tin cá nhân</a></li>*@
            
        </ul>
    </li>
</ul>
