@model PagedList.IPagedList<qlkdstDB.EF.vemaybay>
@using PagedList.Mvc;
@using qlkdst.Common
@{
    ViewBag.Title = " DANH SÁCH VÉ MÁY BAY";
    Layout = null;
    string mTrangThaiTour = DungChung.GetTrangThaiTour(ViewBag.idtour);
}

<!-- //breadcrumbs -->
<div class="inner_content_w3_agile_info two_in">

    <!-- tables -->

    <div class="agile-tables">
        <div class="w3l-table-info agile_info_shadow">
            <h3 class="w3_inner_tittle two"> DANH SÁCH VÉ MÁY BAY</h3>

            <div class="form-body">
                <div>


                    @using (Html.BeginForm("VmbIndex", "Vmb", FormMethod.Get, htmlAttributes: new { @class = "form-inline" }))
                    {
                        @*<div class="form-group">
                                @Html.Label("Tên Khách", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-2">
                                    <input type="text" value="@ViewBag.searchString" class="form-control" name="searchString" />
                                </div>
                            </div>*@


                        <div class="form-group">
                            @*<button type="submit" class="btn btn-success"><i class="fa fa-search"></i>Tìm kiếm</button>*@

                            @if (mTrangThaiTour != "3" && mTrangThaiTour != "4")//tour chua thanh ly va chua bi huy moi hien nut them
                            {
                                <a href="#" data-toggle="tooltip" data-id="@ViewBag.idtour" data-placement="right" class="btn btn-primary themvmb" title="Thêm vé máy bay"><i class="fa fa-plus">Thêm mới</i></a>
                            }

                            
                        </div>
                    }

                </div>
            </div>
            <!--END FORM BODY-->
            <!--TABLE-->
            <table class="table table-striped table-bordered table-hover table-condensed text-nowrap">
                <thead>
                    <tr id="LoadingStatusVmb" style="color:red"></tr>
                    <tr>
                        <th>Quản lý</th>
                        <th>Chuyến bay</th>
                        <th>Ngày bay</th>
                        <th>Điểm đi</th>
                        <th>Điểm đến</th>
                        <th>Giờ đi</th>
                        <th>Giờ đến</th>         
                        <th>Chặng bay</th>                      
                    </tr>
                </thead>
                <tbody class="text-nowrap">
                    @if (Model != null)
                    {
                        foreach (qlkdstDB.EF.vemaybay m in Model)
                        {

                            string urlDel = Url.Action("Xoa", "Vmb") + "/" + m.id_vmb;
                            <tr>
                                <td>
                                    @if (mTrangThaiTour != "3")
                                    {
                                        <span><i class="fa fa-edit fa-lg editVmb" title="Sửa vé" data-idk="@m.id_vmb" data-id="@m.idtour" style="cursor:pointer;" /></span>

                                        <a href='@urlDel' style="cursor:pointer;" onclick="return confirm('Bạn muốn xóa vé này?')"><i class="fa  fa-lg fa-trash xoakhach" title="Xóa vé" data-tour="@m.idtour" /></a>

                                    }


                                    @*@Html.ActionLink(
                                        "Xoá",
                                        "XoaKhach",
                                        "Vmb",
                                        new { id = m.id_dsk },
                                        new { onclick = "return confirm('Bạn có muốn xóa mục này?')", @class = "btn btn-danger fa fa-lg fa-trash" }

                                        )*@

                                </td>
                                <td class="text-center">@m.chuyenbay</td>
                                <td class="text-center">@(m.ngaybay.HasValue ? @m.ngaybay.Value.ToString("dd/MM/yyyy") : "")</td>
                                <td>@m.diemdi</td>
                                <td>@m.diemden</td>
                                <td>@m.giodi</td>
                                <td>@m.gioden</td>   
                                <td>
                                @{ 
                                    string sLuotdive = "";

                                    if (m.luotdive == "1")
                                    {
                                        sLuotdive = "Chuyến đi";
                                    }else if (m.luotdive == "2")
                                    {
                                        sLuotdive = "Chuyến về";
                                    }
                                }
                                    @sLuotdive
                                </td>                               
                            </tr>
                        }
                    }

                </tbody>
            </table>

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))

            <!--END TABLE-->


        </div>


    </div>


</div>


<div class="modal fade in" role="dialog" id="cuasovmb">
    <div class="cuaso-vmb"></div>
</div>


<script>
    @*$('.editVmb').click(function () {
        debugger
        var id = $(this).data('idk');//id khach san

        var url = '@Url.Action("EditRoom", "QLKhachDoan")' + '/' + id;

        window.location.href = url;
    });*@

    $('.editVmb').click(function () {
        debugger

        var id = $(this).data('idk');

        var url = '@Url.Action("Edit", "Vmb")' + '/' + id;
        $.get(url, function (data) {
            debugger
            $("#cuasovmb").modal();
            $('.cuaso-vmb').html(data);
        });

    })

    $('.themvmb').click(function () {
        debugger

        var id = $(this).data('id');

        var url = '@Url.Action("Insert", "Vmb")' + '/' + id;
        $.get(url, function (data) {
            debugger
            $("#cuasovmb").modal();
            $('.cuaso-vmb').html(data);
        });

    })


</script>