@model qlkdstDB.EF.nuoc
<style>
    /*.btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        cursor: pointer;
    }*/

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }
</style>
<script src="~/Scripts/script-custom-validator.js"></script>

<div class="wthree_general graph-form agile_info_shadow ">
    <h3 class="w3_inner_tittle two">SỬA QUỐC GIA </h3>

    <div class="grid-1 ">
        <div class="form-body">

            @using (Html.BeginForm("Edit", "NC", FormMethod.Post, new { @id = "frmqg", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">

                    @*<label for="txtmakh" class="col-sm-2 control-label"> Mã:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Id, new { @id = "txtId", @class = "form-control", @readonly = "readonly" })
                    </div>*@
                    <label for="txtmakh" class="col-sm-2 control-label"> Tên quốc gia:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TenNuoc, new { @id = "txtQG", @class = "form-control" })
                    </div>

                  

                </div>
                <div class="form-group">

                    <label for="controllernm" class="col-sm-2 control-label">   Phạm vi tuyến:</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("phamvi", null, "--Chọn phạm vi--", new { @class = "form-control" })
                    </div>

                    <label for="txtnguoiqh" class="col-sm-2 control-label">   Khu vực:</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("idkhu", null, String.Empty, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">

                    <label for="txtnguoitao" class="col-sm-2 control-label">   Người tạo:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nguoitao, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    <label for="txtngaytao" class="col-sm-2 control-label">   Ngày tạo:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ngaytao, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                </div>
                <div class="form-group">

                    <label for="txtnguoisua" class="col-sm-2 control-label">   Người sửa:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nguoisua, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    <label for="txtngaysua" class="col-sm-2 control-label">   Ngày sửa:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ngaysua, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                </div>
                <div class="col-sm-offset-2">
                    <button name="submit" class="btn btn-primary" id="btnSave"><i class="fa fa-save"></i>Lưu</button>
                    @*<button class="btn btn-primary" id="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i>Hủy</button>*@
                    @Html.ActionLink("Hủy", "Cancel", "NC", null, new { @class = "btn btn-danger fa fa-close" })
                </div>

            }

        </div>
    </div>
</div>

