@model PagedList.IPagedList<qlkdstDB.EF.dmkhachhang>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string sRole = Session["RoleName"].ToString();

}

<div class="inner_content_w3_agile_info two_in">

    @*<h2 class="w3_inner_tittle">MỤC KHÁCH ĐOÀN</h2>*@
    <div class="panel panel-default">
        <div class="panel-heading">
            DANH MỤC KHÁCH HÀNG
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("Index", "Dmkh", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>Tên khách hàng</label>
                        </div>
                        @*@Html.Label("Tên khách hàng", htmlAttributes: new { @class = "col-sm-4 control-label" })*@
                        <div class="col-sm-2">
                            <input type="text" value="@ViewBag.searchString" class="form-control" name="searchString" />
                        </div>
                        @*</div>
                            <div class="form-group">*@
                        <div class="col-sm-2">
                            <label>Chi nhánh:</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("dlcn", null, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success"><i class="fa fa-search"></i>Tìm kiếm</button>
                        @*@if (sRole == "superadmin" || sRole == "admin" || sRole == "salemanager")
                        {*@
                            <a href="#" data-toggle="tooltip" data-placement="right" class="btn btn-primary themkhu" title="Thêm khu"><i class="fa fa-plus">Thêm mới</i></a>
                        @*}*@
                            

                        </div>
                    </div>
                </div>

            }

            @if (TempData["AlertMessage"] != null)
            {
                <div class='@TempData["AlertType"]' role="alert">
                    <strong> @TempData["AlertMessage"]</strong>
                </div>

                TempData["AlertType"] = null;
                TempData["AlertMessage"] = null;
            }

            <!--TABLE-->
            <table id="table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Tên giao dịch</th>
                        <th>Chi nhánh</th>
                        <th>Địa chỉ</th>
                        @*<th>Thành phố</th>
                            <th>Quốc gia</th>*@
                        <th>Điện thoại</th>
                        @*<th>Tax</th>
                            <th>Fax</th>*@
                        <th>Email</th>
                        <th>Ngành nghề</th>
                        <th>Quản lý</th>
                    </tr>
                </thead>
                <tbody>
                   
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.makh" data-id="@item.makh" class="khu">
                            <td>@item.makh</td>
                            <td>@item.tengiaodich</td>
                            <td>@item.chinhanh</td>
                            <td>@item.diachi</td>
                            @*<td>@item.thanhpho</td>
                                <td>@item.quocgia</td>*@
                            <td>@item.telephone</td>
                            @*<td>@item.tax</td>*@
                            @*<td>@item.fax</td>*@
                            <td>@item.email</td>
                            <td>@item.nganhnghe</td>
                            <td class="col-md-2">

                                @if (sRole == "superadmin" || sRole == "admin" || sRole == "salemanager")
                                {
                                    <a href="#" data-id="@item.makh" data-toggle="tooltip" data-placement="right" class="btn btn-primary editkhu" title="Cập nhật"><i class="fa fa-edit">Sửa</i></a>
                                }



                                @if (sRole == "superadmin" || sRole == "admin")
                                {
                                    @Html.ActionLink(
                                        "Xoá",
                                        "Delete",
                                        "Dmkh",
                                        new { id = item.makh },
                                        new { onclick = "return confirm('Bạn có muốn xóa mục này?')", @class = "btn btn-danger  fa fa-trash" }

                                        )
                                }


                            </td>
                        </tr>
                    }
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString, dlcn = @ViewBag.dlcnSelected }))
                </tbody>
            </table>



            <!--END TABLE-->


        </div>


    </div>

</div>



<script>


    $(document).ready(function () {
        $('#table').basictable({
            tableWrapper: true
        });
    });


    $(function () {
        $('.themkhu').click(function () {
            var url = '@Url.Action("Create", "Dmkh")';

            window.location.href = url;
        });

        $('.editkhu').click(function () {
            var id = $(this).data('id');
            var url = '@Url.Action("Edit", "Dmkh")' + '/' + id;

            window.location.href = url;

        });

    })


    $('#btnXoa').click(function () {
        var btn = $(this);
        var id = btn.data('id');

        var urlaction = '@Url.Action("Delete", "Dmkh")';

        $.ajax({
            url: urlaction,
            type: 'POST',
            data: { id: id },
            success: function (res) {
                if (res) {
                    alert("ok");
                }
                else {

                }
            }
        });
    });


</script>

